<template>
  <div>
    <div class="d-flex justify-content-center mt-3">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" :class="{ 'active' : i === panelName }" v-for="(v, i) in panels" @click="changePanel(i)">Sahne ({{ i }})</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action" v-for="(item, index) in items" @click="addItem(index)">{{ item.name }} Ekle</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="alert alert-info">Yer değiştirmek için mavi butonu kullanın.</div>

            <draggable v-model="panels[panelName]" handle=".move" ghost-class="ghost">
              <div class="card card-disabled mt-3" v-for="(item, index) in panels[panelName]">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b>{{ item.label }} - ({{ item.type }})</b>
                  <div :data-edit="index">
                    <button class="btn btn-sm btn-primary mr-2 move"><i class="fas fa-arrows-alt"></i></button>
                    <button class="btn btn-sm btn-danger mr-2" :disabled="item._id === itemID" @click="removeItem(index, item._id)">Sil</button>
                    <button class="btn btn-sm btn-success" @click="editItem(item._id)">Düzenle</button>
                  </div>
                </div>
                <div class="card-body">
                  <div v-if="item.type === 'button'" data-type="item-button" :data-id="'item-'+index">
                    <div :class="['btn', 'btn-block', item.settings.class]">{{ item.label }}</div>
                  </div>
                  <div v-if="item.type === 'input'" data-type="item-input" :data-id="'item-'+index">
                    <div class="form-group">
                      <label :for="'input-'+index" :style="{color: item.settings.labelColor}">{{ item.label }}</label>
                      <input :id="'input-'+index" type="text" class="form-control" :value="item.settings.value" :placeholder="item.settings.placeholder">
                      <small :id="'input-help-'+index" class="form-text text-muted" v-if="item.settings.help">{{ item.settings.help }}</small>
                    </div>
                  </div>
                  <div v-if="item.type === 'text'" data-type="item-textn" :data-id="'item-'+index">
                    <div :style="{fontSize: item.settings.size + 'px', color: item.settings.color}">{{ item.label }}</div>
                  </div>
                </div>
              </div>
            </draggable>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>Ayarlar {{ itemID ? '(' + panels[panelName].find(e => e._id === itemID).label + ')' : null }}</span>
            <button class="btn btn-danger btn-sm" v-if="itemID" @click="itemID = ''">İptal</button>
          </div>
          <div class="card-body">
            <div v-if="!itemID" class="alert alert-warning mb-0">Düzenleme yapmak için bir item seçin.</div>
            <div v-else>
              <div class="form-group">
                <label :for="'settings-label'">Ayar: label</label>
                <input :id="'settings-label'" type="text" class="form-control" v-model="panels[panelName].find(e => e._id === itemID).label">
              </div>
              <div class="form-group" v-for="(item, index) in items[panels[panelName].find(e => e._id === itemID).type].settings">
                <label :for="'settings-'+index">Ayar: {{ index }}</label>
                <input :id="'settings-'+index" type="text" class="form-control" v-model="panels[panelName].find(e => e._id === itemID).settings[index]">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'

  export default {
    name: 'home',
    components: {
      draggable,
    },
    data: function() {
      return {
        panels: {
          "panel1": [
            {
              _id: 43532,
              type: "text",
              label: "Deneme Başlığı",
              settings: {
                size: "22",
                color: "#ff0000"
              }
            },
            {
              _id: 23677,
              type: "input",
              label: "Deneme",
              settings: {
                placeholder: "Buraya yazı gelecek",
                value: "",
                labelColor: "#ff0000",
                help: "Burası yardım yazısı!"
              }
            },
            {
              _id: 67955,
              type: "button",
              label: "Gönder",
              settings: {
                class: "btn-success"
              }
            }
          ],
          "panel2": [],
          "panel3": []
        },
        items: {
          "input": {
            name: "Input",
            settings: {
              placeholder: "",
              value: "",
              labelColor: ""
            }
          },
          "text": {
            name: "Text",
            settings: {
              size: "16",
              color: "#000"
            }
          },
          "button": {
            name: "Button",
            settings: {
              class: "btn-success"
            }
          }
        },
        panelName: "panel1",
        itemID: "" // item _id
      }
    },
    methods: {
      getRndInteger(min, max) {
        return Math.floor(Math.random() * (max - min + 1) ) + min;
      },
      removeItem(index, id) {
        if (this.itemID !== id) this.$delete(this.panels[this.panelName], index);
      },
      addItem(index) {
        this.panels[this.panelName].push({
          _id: this.getRndInteger(10001, 99999),
          type: index,
          label: "Yeni "+this.items[index].name,
          settings: this.items[index].settings
        });
      },
      editItem(i) {
        this.itemID = i;
      },
      changePanel(i) {
        this.itemID = "";
        this.panelName = i;
      }
    }
  }
</script>

<style lang="less">
  .card-disabled {
    cursor: no-drop;

    .card-header {
      cursor: auto;
    }
    .card-body {
      pointer-events: none;
      opacity: 0.9;
    }
  }
  .ghost {
    border: 2px dashed #989898;
    opacity: 0.2;
  }
</style>