<template>
  <div id="app" class="container-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <div class="float-right">
          <button class="btn btn-dark mr-2">Yükle</button>
          <button class="btn btn-success">Kaydet</button>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style lang="less">
  @import '~bootstrap/dist/css/bootstrap.min.css';
  @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
</style>